<!DOCTYPE html>
<html ng-app="StudentDirectory">
<head>
	<title>appName</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
<ui-view></ui-view>


<!-- Libraries -->
	<script src="/angular/angular.js"></script>
	<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Modules -->
	<script src="/javascript/app.js"></script>
	<!-- Factories/Services -->
	<!-- controllers (order of controllers doesnt matter) -->
	<script src="/javascript/controllers/mainController.js"></script>
	<script src="/javascript/controllers/EditContactController.js"></script>
	<script src="/javascript/controllers/AddUserController.js"></script>
</body>
</html>
